*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: url(./asset/pattern.jpg);
    font-family: 'Slabo 27px';
}
/* navigasi*/
.container{
    background-color: white;
}
.navigasi{
    display: flex;
    text-align: right;
    align-items: center;
}
header{
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
 
}
nav{
    flex:1;
    display: inline-block;
}
nav li{ 
    display: inline-block;
    padding-right: 35px;
}
a{
    font-size: large;
    text-decoration: none;
    color :black;
}
a:hover{
    color:#d4d4d4;
}
/*navigasi*/

/*content*/
#action{
    display: flex;
    margin: 20px 0px;
}
.container-content{
    margin: auto;
    align-content: center;
    width: 1080px;
    background: white;
    padding: 30px;
    
}
.container-content h1{
    text-align: center;
    padding-bottom: 70px;
}
.article-list h3{
    display: inline-block;
}
.article-list li{
    font-weight: bold;
}
.article-list p{
    display: inline-block;
    font-weight: normal;
}
.list-s{
   margin: 0 45px;
}
.right{
    margin: auto;
    padding: 10px;
    border-right: solid 1px black;
}
.h1-about{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.list{
    margin-top: 60px;
    border-bottom:solid 1px #808080 ;
}
.list p{
    color: #808080;
    padding: 25px 0px;
}
.line{
    border: groove 1px;
}
.contact li{
    list-style: none;
}
.back{
    margin-top: 40px;
}
.back a{
    color: white;
    font-size: medium;
}
.back button{
    background: #4083ff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
}
table{
    width: 100%;
}
td{
    font-weight: bold;
   vertical-align: bottom;
    font-size: 18px;
    padding-bottom:20px ;
    
    
}
td label{
    width: 10%;
}
td p{
    display: inline;
    padding-left:5px ;
  
}
td input{
    padding: 5px;
}
.pesan{
    vertical-align: bottom;
}
.conten{
    padding-left: 30px;
}
textarea{
    width: 60%;
    height: 20%;
}
.submit{
    padding: 2px 5px;
}
/*content*/

/*footer*/
footer{
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}